body{
    background: url("../images/grey_wash_wall.png");
}

.card{
    background-color:#ffffff;
    border: 1px solid #dddddd;
    max-width: 66.6%;
}

#p1,
#p2 {
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#rowOne
#rowTwo{
    margin: 0 auto;
    
}