body{
    background: url("../images/grey_wash_wall.png");
}

.card{
    background-color:#ffffff;
    border: 1px solid #dddddd;
    max-width: 66.6%;
}

#p1,
#p2 {
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

#rowOne
#rowTwo {
    margin: 0 auto;
}

img {
    height:20%;
    width: auto 0;
}

.navbar-collapse{
    text-align: center;
}

@media screen and (max-width: 992px){
    #p1,
    #p2 {
        font-size: 4vw;
        text-align: center;
    }

    img{
        margin-bottom: 5%;
    }